//
   Created by David on 29/03/2016.

extends layout

block content
    .container
        h1 About Us
        p
            | Multi hihi br
            | br
            br
            | yay this borke up the lines
            | Line  ouuou
        p.
            Another way for large
            br\n
            \n
            bodies of text!
        p(style='white-space:pre;')
            | Si chiamava Tatiana, la sorella…
            | Noi siamo i primi, almeno lo crediamo
            | Che un tale nome arditamente nella
            | Cornice d’un romanzo introduciamo.
            | E che dunque? E’ piacevole, sonoro.
            | Lo so che a molti privo di decoro
            | Apparirà, già fuori moda, e degno
            | Piuttosto d’un ancella, certo segno,
            | confessiamolo pur senza paura,
            | di quanto s’è noialtri al gusto avversi
            | nei nostri nomi (a non parlar di versi). |br
            | Credemmo conquistare la cultura,
            | e non ne abbiamo preso, in conclusione,
            | che la ricerca dell’affettazione.
        ul#books
            li: a(href="#book-a") Book A
            li: a(href="#book-b") Book B
        #mylist
            ul
                li lalalalo
                li dododo
                li cawcawcaw
        p Lorem WORKS OT BREAK UP AS WELL ==> < br> inline HTML <br> ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vehicula commodo sapien ut ullamcorper. Nullam at arcu ullamcorper, bibendum nibh in, ultrices lorem. Vestibulum rhoncus tellus consectetur dolor sagittis, et iaculis justo malesuada. In lacinia sit amet mauris non auctor. Praesent rhoncus risus in lorem luctus, at pellentesque justo tristique. Duis hendrerit ipsum eu elit dapibus tristique. Sed consectetur augue sapien, semper luctus tortor iaculis a. Aliquam iaculis ligula nec pulvinar ullamcorper. Pellentesque eu felis lorem. Phasellus molestie massa quis massa mattis commodo. Sed vitae feugiat purus. Vivamus sit amet nisl eleifend, venenatis tortor vitae, posuere ligula. Pellentesque ac leo in ipsum auctor condimentum et bibendum nisl. malesuada fames ac ante ipsum primis in faucibus. Integer neque orci, gravida ac lorem et, ullamcorper accumsan ligula. Proin magna risus, ultricies et nunc sit amet, fermentum imperdiet neque. Quisque semper libero vitae est bibendum feugiat. Nullam quis rutrum lectus. Nulla ipsum tortor, egestas sed ligula in, malesuada faucibus purus. Aenean quis dolor facilisis, molestie neque quis, varius ex.