extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            p sample text ample text ample text ample text ample text ample text ample text ample text
            a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
    .container
        .row
            .col-md-4
                 h2 About Us
                 p about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text
                 a.btn.btn-default(href="#") View Details
            .col-md-4
                 h2 Services
                 p about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text
                 a.btn.btn-default(href="#") View Details
            .col-md-4
                 h2 Get In Touch
                 p about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text about us paragraph sample text
                 a.btn.btn-default(href="#") View Details
